.burgerConstructor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-height: calc(100vh - 300px);
  gap: 20px;
}

.containerList {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.list {
  width: 100%;
  /* align-items: end; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
}

.price {
  display: flex;
  /* justify-content: end; */
  align-items: center;
}

.iconPrice {
  width: 36px;
  height: 36px;
  object-fit: cover;
  background-image: url("../../images/icon 36x36.svg");
}

.dropContainer {
    transition: 1s;
    height: 100%;
    border-radius: 80px;
  }