.app {
  display: flex;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  flex-direction: column;
}

.burgers {
  display: flex;
  align-self: center;
}

.sectionClass {
  flex-direction: column;
  display: flex;
  width: 50%;
  min-width: 640px;
  box-sizing: border-box;
}