.ingredients {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 40px;
}

.scroll {
    max-height: 700px;
    overflow: auto;
    padding: 0 10px 10px 10px;
    max-width: 635px;
}