.ingredients {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 40px;
    max-height: calc(100vh - 130px);
}

.scroll {
    height: 100%;
    overflow: auto;
    padding: 0 10px 10px 10px;
    max-width: 635px;
}

.type-ingredient {
    margin: 0;
}

.ingredient-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 32px 24px;
}

.ingredient-img {
    width: 240px;
    height: 120px;
}

.ingredient {
    position: relative;
    display: flex;
    width: 272px;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.ingredient-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    max-width: 100px;
    height: 24px;
}

.ingredient-name {
    width: 272px;
    margin: 0;
    text-align: center;
}

.tab {
    display: flex;
}

.type {
    margin-top: 40px;
    margin-bottom: 24px;
    padding: 0;
}

.link {
    color: #F2F2F3;
    text-decoration: none;
}